<div class="page-header">
  <h1>Track Listing<small>  Track Attack</small></h1>
</div>
<hr/>


<ul class="list-group">
  <% @tracks.each do |track| %>
    <li class="list-group-item">
      <div class="track">
        <h3><a href="/tracks/<%= track.id %>"><%= track.title %> <small>(by: <%= track.artist %>)</small></a></h3>
        <p>
        <a href="<%= track.url %>"><%= track.url %></a>
        </p>
      </div>
      <% if current_user %>
          <% if track.votes.find { |v| v.user_id == current_user.id }%>
            <p> Voted! </p>
            <form method="post" action="/downvoted">
              <input type="hidden" name="track_id" value="<%= track.id %>">
              <input type="submit" class="btn btn-sm btn-primary" value="Downvote">
            </form>
          <% else %>
        <form method="post" action="/voted">
          <input type="hidden" name="track_id" value="<%= track.id %>">
          <input type="submit" class="btn btn-sm btn-primary" value="Vote">
        </form>
          <% end %>
      <% end %>
      <p class="text-center">Votes: <%= track.total_votes %></p>
    </li>
  <% end %>
</ul>

<hr/>
<% if current_user %>
  <a href="/tracks/new"><strong>Post a track... It's FREE (for now)!</strong></a>
  <hr/>
<% else %>
  <h3>would you like to add a song to our list?</h3>
  <h3>Then</h3>
  <h2><a href='/users/new'>SIGN UP!</a></h2>
  <h3>or</h3>

  <h2><a href='/users/login'>Log In</a></h2>
<% end %>

<% if current_user %>
<h3><a href='/users/logout'>Log Out</a></h3>
<% end %>