<hr/>
<div class="page-header">
  <h1><%= @track.title %></h1>
</div>
<hr/>

<p>
  Artist: <%= @track.artist %>
</p>
<p>
  <a href="<%= @track.url %>"><%= @track.url %></a>
</p>
<p>
  <%= @track.created_at %>
</p>
<p>
  Posted by: <%= @track.user.username %>
</p>
<hr/>

<h3>Other Tracks from this artist</h3>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">More Tracks from this artist</div>
  <!-- Table -->
  <table class="table">
    <tr>
      <th>Artist</th>
      <th>Title</th> 
      <th>url</th>
      <th>Posted by<th>
    </tr>
    <% @tracks.reverse.each do |track| %>
    <tr>
      <td><%= track.artist %></td>
      <td><%= track.title %></td> 
      <td><a href="<%= @track.url %>"><%= track.url %></a></td>
      <td><%= track.user.username %></td>
    </tr>
    <% end %>
  </table>
</div>

<hr/>
<a href="/tracks">Back to All Tracks</a>
<hr/>